<span id="display-mode-wrapper" *ngIf="!isEditMode" (click)="enterEditMode()">
    <span id="currency-wrapper" *ngIf="isCurrency">
        {{ value | currency:'ILS' }}
   </span>
    <span id="non-currency-wrapper" *ngIf="!isCurrency">
        {{ value }}
   </span>
</span>

<span id="edit-mode-wrapper" *ngIf="isEditMode">
    <input id="input"  class="border-0"
        #input 
        [type]=" isCurrency? number : text"
        [value]="value" 
        (keyup)="value = input.value" 
        (keyup.enter)="emitNewValueAndExitEditMode()">
</span> 