<div class="container">
  <table class="table table-sm">
    <tr>
      <th scope="col">Expense Name</th>
      <th scope="col">Expense Amount</th>
    </tr>
    <tr *ngFor="let item of items | keyvalue">
      <td><inline-edit [initialValue]="item.key"  (valueChange)="item.key = $event"></inline-edit></td>
      <td><inline-edit [initialValue]="item.value" (valueChange)="item.value = $event"></inline-edit>
     </td>
    </tr>
    <th> Total:</th>
    <th> {{ total }} </th>
  </table>
  <div>

    <hr />
    <input type="text" [(ngModel)]="name" placeholder="Expense name" />
    <input type="number" [(ngModel)]="amount" placeholder="Epense amount" />
    <button (click)=addExpense()>Add</button>
  </div>