<div class="container">
  <table class="table table-sm">
    <tr>
      <th scope="col">Expense Name</th>
      <th scope="col">Expense Amount</th>
    </tr>
    <tr *ngFor="let expense of expenses | keyvalue">
      <td>
        <inline-edit [initialValue]="expense.key" (valueChange)="updateName(expense.key, $event)"></inline-edit>
      </td>
      <td>
        <inline-edit [initialValue]="expense.value" [isCurrency]="true" (valueChange)="updateAmount(expense.key, $event)"></inline-edit>
      </td>
    </tr>
    <th> Total:</th>
    <th> {{ total | currency:'ILS' }} </th>
  </table>
  <div>

    <input type="text" [(ngModel)]="name" placeholder="Expense name" />
    <input type="number" [(ngModel)]="amount" placeholder="Expense amount" />

    <button (click)=addExpense() class="btn btn-primary btn-sm">Add</button>
  </div>