<div class="container">
  <table class="table table-sm">
    <tr>
      <th scope="col">Expense Name</th>
      <th scope="col">Expense Amount</th>
      <th *ngIf="!isBudget" scope="col">Budget Amount</th>
      <th *ngIf="!isBudget" scope="col">Discrepency</th>
    </tr>
    <tr *ngFor="let expense of expenses | keyvalue">
      <td>
        {{ expense.key }}
      </td>
      <td>
        {{ expense.value | currency:'ILS' }}      
      </td>
      <td *ngIf="!isBudget">
        {{ budget[expense.key] }}    
      </td>
      <td *ngIf="!isBudget">
        {{ getNumber(budget[expense.key]) - getNumber(expense.value) }} 
      </td>
      <td style="cursor: pointer;" (click)="removeItem(expense.key)">
        -
      </td>
    </tr>
    <th> Total:</th>
    <th>{{ total | currency:'ILS' }}</th>
    <th></th>
    <th></th>
    <th></th>
  </table>


  <div id="input-container">
    <input *ngIf="isBudget" type="text" [(ngModel)]="name" placeholder="Expense name" />

    <select *ngIf="!isBudget" (change)="listChange($event)">
        <option>Select...</option>
      <option *ngFor="let expense of _budget | keyvalue" [ngValue]="expense.key">{{ expense.key }}</option>
    </select>
    
    <input type="number" [(ngModel)]="amount" placeholder="Expense amount" />

    <button (click)=addExpense() class="btn btn-primary btn-sm">Add</button>

  </div>
</div>