<% include ./partials/header.ejs %>

<h1>Budget</h1>
<table>
    <tr>
        <td>
            <input type="text" name="" id="" placeholder="Item 1">
        </td>
        <td>
            <input type="number" name="" id="" placeholder="Amount">
        </td>
    </tr>
    <tr>
            <td>
                    <input type="text" name="" id="" placeholder="Item 2">
                </td>
                <td>
                        <input type="number" name="" id="" placeholder="Amount">
                </td>
    </tr>
    <tr>
            <td>
                    <input type="text" name="" id="" placeholder="Item 3">
            </td>
            <td>
                    <input type="number" name="" id="" placeholder="Amount">
            </td>
    </tr>    
</table>
<% include ./partials/footer.ejs %>