.add-row-icon {
    font-size: 2.0em;
    cursor: pointer;
}

.category-list-ul li {
    list-style: none;
}

.new-budget-container {
    text-align: center;
    margin-top: 100px;
}

.add-remove-button {
    text-align: left;
}

.category-container {
    max-width: 500px; 
    margin-top: 50px;
}

.category-label {
    text-align: left;
}