<div class="container">
    <table class="table table-sm">
      <tr>
        <th scope="col">Expense Name</th>
        <th scope="col">Expense Amount</th>
        <th scope="col">Budget Amount</th>
        <th scope="col">Discrepency</th>
        <th></th>
      </tr>
      <tr *ngFor="let expense of expenses | keyvalue">
        <td>
          {{ expense.key }}
        </td>
        <td>
          {{ expense.value | currency:'ILS' }}      
        </td>
        <td>
          {{ budgetExpenses[expense.key] }}    
        </td>
        <td>
          {{ getInt(budgetExpenses[expense.key]) - getInt(expense.value) }} 
        </td>
        <td style="cursor: pointer;" (click)="removeItem(expense.key)">
          -
        </td>
      </tr>
      <th> Total:</th>
      <th>{{ total | currency:'ILS' }}</th>
      <th></th>
      <th></th>
      <th></th>
    </table>


    <div id="container">
        <form (ngSubmit)="addExpense()" #expForm="ngForm">
          <div class="form-row">
              <div class="form-group col">
                <select class="form-control" (change)="listChange($event)" id="power" required>
                    <option>Select...</option>
                  <option *ngFor="let expense of localBudgetExpenses | keyvalue" [value]="expense.key">{{ expense.key }}</option>
                </select>
            </div>
    
            <div class="form-group col">
              <input style="margin:0;" type="number" class="form-control" name="newExpenseAmount" [(ngModel)]="newExpenseAmount"
                id="newExpenseAmount" placeholder="Expense amount" required>
            </div>
    
            <div class="col">
              <button style="margin:0;" type="submit" class="btn btn-success" [disabled]="!expForm.form.valid">Add</button>
            </div>
          </div>
        </form>
      </div>
  </div>