<div *ngIf="!budget">
   Loading...
</div>


<div *ngIf="budget">
        <tabset>
          <tab heading="Category 1">
                <category [expenses]="budget.category1" (newExpenses)="update()"></category>
          </tab>
          <tab heading="Category 2">
                <category [expenses]="budget.category2" (newExpenses)="update()"></category>
          </tab>
          <tab heading="Category 3">
                <category [expenses]="budget.category3" (newExpenses)="update()"></category>  
          </tab>
        </tabset>
</div>