<div *ngIf="!budget">
   Loading...
</div>


<div *ngIf="budget">
        <tabset>
          <tab heading="Category 1">
                <budget-category-table [expenses]="budget.category1" (updatedExpenses)="update()"></budget-category-table>
          </tab>
          <tab heading="Category 2">
                <budget-category-table [expenses]="budget.category2" (updatedExpenses)="update()"></budget-category-table>
          </tab>
          <tab heading="Category 3">
                <budget-category-table [expenses]="budget.category3" (updatedExpenses)="update()"></budget-category-table>  
          </tab>
        </tabset>
</div>