<div *ngIf="!budget">
   Loading...
</div>


<div *ngIf="budget">
        <tabset>
          <tab heading="Category 1">
                <category [items]="budget.category1" (newItems)="update(year)"></category>
          </tab>
          <tab heading="Category 2">
                <category [items]="budget.category2" (newItems)="update(year)"></category>
          </tab>
          <tab heading="Category 3">
                <category [items]="budget.category3" (newItems)="update(year)"></category>  
          </tab>
        </tabset>
</div>