<% include ../partials/header.ejs %>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a data-toggle="tab" class="nav-link tab" id="tab" href="#">Category 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab" href="#">Category 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab" href="#">Category 3</a>
    </li>
</ul>

<div class="container">
    <% if (budget) {%>
    <% for (let category = 1; category <= 3;category++) { %>
    Category
    <%= category %>:
    <table class="table table-bordered">
        <tr>
            <th scope="col">Expense Name</th>
            <th scope="col">Expense Amount</th>
        </tr>
        <tbody>
            <%    budget[category].forEach( item  => { %>
            <td>
                <%= item.name %>
            </td>
            <td>
                &#8362
                <%= item.amount %>
            </td>
            <%    }); %>

        </tbody>
    </table>
    <% } } else {%>
    Setup a new budget here: 
    <a href="/budget/new">New Budget</a>
    <% } %>
</div>

<% include ../partials/footer.ejs %>