<% include ../partials/header.ejs %>
<ul>
    <% expenseList.forEach( item => { %>
        <li>
            <a href="/expense/<%= item.month %>/<%= item.year %>">
                <%= item.month[0].toUpperCase()+item.month.substr(1) %>, <%= item.year %>
            </a>
        </li>

    <% })  %>
</ul>
<% include ../partials/footer.ejs %>