<% include ../partials/header.ejs %>

<form action="/expense" method="POST">
    <select name="category">
        <option selected value="1">Category 1</option>
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
    </select><br>
    <select name="month">
        <option selected value="jan">Jan</option>
    </select>
    <select name="year">
        <option selected value="2019">2019</option>
    </select><br>
    <input type="text" name="name" placeholder="Expense Name">
    <input type="number" name="amount" placeholder="Expense Amount">
    <br>
    <button type="submit">Submit</button>
</form>


<% include ../partials/footer.ejs %>