<div *ngIf="!budget">
      Loading...
</div>

<div *ngIf="budget">
      <tabset>
            <tab heading="Category 1">
                  <category [expenses]="expense.category1" [budget]="budget.category1" (newExpenses)="update()">
                  </category>
            </tab>
            <tab heading="Category 2">
                  <category [expenses]="expense.category2" [budget]="budget.category2" (newExpenses)="update()">
                  </category>
            </tab>
            <tab heading="Category 3">
                  <category [expenses]="expense.category3" [budget]="budget.category3" (newExpenses)="update()">
                  </category>
            </tab>
      </tabset>
</div>